* , *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

input{
  width: 200px;
  height: 100px;
  padding: 0;
}

.container{
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}